@model Core.Objetos.Documento
@using Web.Extensions

@{
    ViewBag.Title = "Biblioteca Digital - Detalhes do " + @Html.DisplayFor(model => model.Titulo);
}

<h2>Detalhes do @Html.DisplayFor(model => model.Titulo)</h2>

<fieldset>
    <legend>Dados</legend>

    <div class="display-label">Número</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroDoDocumento)
    </div>

    <div class="display-label">Nr. do protocolo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumeroDoProtocolo)
    </div>

    <div class="display-label">Id doc. arquivístico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdProcessoDossie)
    </div>

    <div class="display-label">Id volume</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdVolume)
    </div>

    <div class="display-label">Id versão</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdVersao)
    </div>

    <div class="display-label">Título</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">Tipo do título</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDoTitulo)
    </div>

    <div class="display-label">Descrição</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Assunto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assunto)
    </div>

    <div class="display-label">Autor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Autor)
    </div>

    <div class="display-label">Destinatário</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Destinatario)
    </div>

    <div class="display-label">Tipo do destinatário</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDoDestinatario)
    </div>

    <div class="display-label">Originador</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Originador)
    </div>

    <div class="display-label">Redator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Redator)
    </div>

    <div class="display-label">Procedência</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Procedencia)
    </div>

    <div class="display-label">Id arquivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdArquivo)
    </div>

    <div class="display-label">Gênero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>

    <div class="display-label">Espécie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Especie)
    </div>

    <div class="display-label">Tipo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>

    <div class="display-label">Idioma</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Idioma)
    </div>

    <div class="display-label">Quantidade de folhas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuantidadeDeFolhas)
    </div>

    <div class="display-label">Possui anexos?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemAnexos)
    </div>

    <div class="display-label">Data de produção</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDeProducao)
    </div>

    <div class="display-label">Classe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Classe)
    </div>

    <div class="display-label">Destinação prevista</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DestinacaoPrevista)
    </div>

    <div class="display-label">Prazo de guarda</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrazoDeGuarda)
    </div>

    <div class="display-label">Localização</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Localizacao)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
