@model IEnumerable<Core.Objetos.Arquivo>

@{
    ViewBag.Title = "Busca";
}

<h2>Busca</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Caracteristicas
        </th>
        <th>
            Formato
        </th>
        <th>
            Armazenamento
        </th>
        <th>
            AmbienteSoftware
        </th>
        <th>
            AmbienteHardware
        </th>
        <th>
            Dependencias
        </th>
        <th>
            CaminhoDoArquivo
        </th>
        <!--<th>
            Conteudo
        </th>-->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caracteristicas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Armazenamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmbienteSoftware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmbienteHardware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dependencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaminhoDoArquivo)
        </td>
        <!--<td>
            Html.DisplayFor(modelItem => item.Conteudo)
        </td>-->
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ArquivoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.ArquivoId }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.ArquivoId })
        </td>
    </tr>
}

</table>
