@model IQueryable<Core.Objetos.Classificacoes.Grupo>

@{
    ViewBag.Title = "List";
}

<h2>Lista de grupos</h2>

<p>
    @Html.ActionLink("Criar grupo", "Create")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Codigo
        </th>
        <th>
            Ativa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
