@model IQueryable<Core.Objetos.Classificacoes.Grupo>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de subgrupos</h2>

<p>
    @Html.ActionLink("Criar novo", "Criar")
</p>
<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Codigo
        </th>
        <th>
            Ativa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativa)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id }) |
            @Html.ActionLink("Remover", "Remover", new { id = item.Id })
        </td>
    </tr>
}

</table>
