@model Core.Objetos.Classificacoes.Subgrupo

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do subgrupo @Model.Nome</h2>

<ul>
    <li><a href="@Url.RouteUrl("DocumentoArquivistico", new { classificacao = "Classe", idClassificacao = Model.Grupo.Subclasse.Classe.Id, action = "Criar" })">Criar documento arquivístico</a></li>
</ul>

@if (Model.DocumentosArquivisticos.Count > 0)
{
    <h3>Documentos arquivísticos</h3>
    <ul>
    @foreach (var item in Model.DocumentosArquivisticos)
    {
        <li><a href="@Url.RouteUrl("Default", new { controller = "DocumentoArquivistico", action = "Detalhes", id = item.Id })">@item.VersaoAtual.Titulo</a></li>
    }
    </ul>
}

<fieldset>
    <legend>Subgrupo</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Codigo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">Ativa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar metadados", "Editar", new { id=Model.Id }) |
</p>
