@using Web.Extensions
@model Core.Objetos.Classificacoes.Classe

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Tem certeza que deseja remover esta entrada?</h3>
<fieldset>
    <legend>Temporalidade</legend>

    <div class="display-label">Classe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Prazo de guarda (fase corrente)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.PrazoDeGuardaFaseCorrente)
    </div>

    <div class="display-label">Prazo de guarda (fase intermediária)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.PrazoDeGuardaFaseIntermediaria)
    </div>

    <div class="display-label">Observações</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.Observacoes)
    </div>

    <div class="display-label">Destinação final</div>
    <div class="display-field">
       @Model.Temporalidade.DestinacaoFinal.Description()
    </div>


</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Voltar para lista", "Index")
    </p>
}
