@model Core.Objetos.Classificacoes.Grupo

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do grupo @Model.Nome</h2>

<ul>
    <li><a href="@Url.RouteUrl("Subgrupo", new { action = "Create", idClasse = Model.Subclasse.Classe.Id, idSubclasse = Model.Subclasse.Id, idGrupo = Model.Id })">Criar subgrupo</a></li>
    <li><a href="@Url.RouteUrl("Default", new { controller = "DocumentoArquivistico", action = "Create" })">Criar documento arquivístico</a></li>
</ul>

@if (Model.Subgrupos.Count > 0)
{
    <h3>Subgrupos</h3>
    <ul>
    @foreach (var item in Model.Subgrupos)
    {
        <li><a href="@Url.RouteUrl("Subgrupo", new { action = "Details", idClasse = Model.Subclasse.Classe.Id, idSubclasse = Model.Subclasse.Id, idGrupo = Model.Id, id = item.Id })">@item.Nome</a></li>
    }
    </ul>
}

@if (Model.DocumentosArquivisticos.Count > 0)
{
    <h3>Documentos arquivísticos</h3>
    <ul>
    @foreach (var item in Model.DocumentosArquivisticos)
    {
        <li><a href="@Url.RouteUrl("Default", new { controller = "DocumentoArquivistico", action = "Details", id = item.Id })">@item.VersaoAtual.Titulo</a></li>
    }
    </ul>
}

<fieldset>
    <legend>Grupo</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Codigo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">Ativa</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar metadados", "Edit", new { id=Model.Id }) |
</p>
