@model Core.Objetos.Classificacoes.Classe
@using Web.Extensions

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Temporalidade</legend>

    <div class="display-label">Classe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Prazo de guarda (fase corrente)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.PrazoDeGuardaFaseCorrente)
    </div>

    <div class="display-label">Prazo de guarda (fase intermediária)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.PrazoDeGuardaFaseIntermediaria)
    </div>

    <div class="display-label">Destinação final</div>
    <div class="display-field">
        @Model.Temporalidade.DestinacaoFinal.Description()
    </div>

    <div class="display-label">Observações</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Temporalidade.Observacoes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { idClasse=Model.Id }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
