@using Web.Extensions
@model IEnumerable<Core.Objetos.Classificacoes.Classe>

@{
    ViewBag.Title = "Index";
}

<h2>Tabela de temporalidade</h2>

<table>
    <tr>
        <th>
            Classe
        </th>
        <th>
            Prazo de guarda (fase corrente)
        </th>   
        <th>
            Prazo de guarda (fase intermediária)
        </th>
        <th>
            Destinação final
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        @if (item.Temporalidade != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Temporalidade.PrazoDeGuardaFaseCorrente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporalidade.PrazoDeGuardaFaseIntermediaria)
            </td>
            <td>
                @item.Temporalidade.DestinacaoFinal.Description()
            </td>
        }
        else
        {
            <td></td>
            <td></td>
            <td></td>
        }
        
        @if (item.Temporalidade != null)
        {
            <td>
            @Html.ActionLink("Editar", "Editar", new { idClasse = item.Id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { idClasse = item.Id }) |
            @Html.ActionLink("Remover", "Remover", new { idClasse = item.Id })
            </td>
        } else
        {
            <td>
            @Html.ActionLink("Criar", "Criar", new { idClasse = item.Id })
            </td>
        }
    </tr>
}

</table>
