@model Core.Objetos.Volume
@using Web.Extensions

@{
    ViewBag.Title = "Biblioteca Digital - Detalhes do volume " + @Html.DisplayFor(model => model.VersaoAtual.NumeroDoVolume);
}

<h2>Detalhes do volume @Html.DisplayFor(model => model.VersaoAtual.NumeroDoVolume)</h2>
(ver <a href="@Url.RouteUrl("VersaoVolume", new { idVolume = Model.Id, action = "Versao"})">outras versões</a>)

<fieldset>
    <legend>Dados</legend>

    <div class="display-label">Nr. doc. arquivístico</div>
    <div class="display-field">
        <a href="@Url.RouteUrl("Default", new { controller = "DocumentoArquivistico", id = Model.IdProcessoDossie, action = "Details" })">@Html.DisplayFor(model => model.NumeroDoProcessoOuDossie)</a>
    </div>

    <div class="display-label">Tipo do meio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VersaoAtual.TipoDoMeio)
    </div>

    <div class="display-label">Nr. do volume</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VersaoAtual.NumeroDoVolume)
    </div>

    <div class="display-label">Quantidade de folhas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VersaoAtual.QuantidadeDeFolhas)
    </div>

    <div class="display-label">Localização</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VersaoAtual.Localizacao)
    </div>
    
    <div class="display-label">Documentos <a href="@Url.RouteUrl("Documento", new { idDocArq = Model.IdProcessoDossie, idVol = Model.Id, action = "Create" })">Criar documento</a></div>
    <div class="display-field">
        @if (Model.Documentos != null)
        {
            <ul>
            @foreach (var item in Model.Documentos.Where(v => v.IdProcessoDossie == Model.Id).ToList())
            {
                <li><a href="/DocumentoArquivistico/@(item.IdProcessoDossie)/Volume/@(item.IdVolume)/Documento/Details/@(item.Id)">Documento @(item.VersaoAtual.NumeroDoDocumento)</a></li>
            }
            </ul>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
