@model IQueryable<Core.Objetos.DocumentoArquivistico>

@{
    ViewBag.Title = "Biblioteca Digital - Listando documentos arquivísticos";
}

<h2>Listando documentos arquivísticos</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table>
    <tr>
        <th>
            Número
        </th>
        <th>
            Título
        </th>
        <th>
            Descrição
        </th>
        <th>
            Assunto
        </th>
        <th>
            Autor
        </th>
        <th>
            Destinatário
        </th>
        <th>
            Interessado
        </th>
        <th>
            Procedência
        </th>
        <th>
            Quantidade de folhas
        </th>
        <th>
            Numeração sequencial
        </th>
        <th>
            Data de produção
        </th>
        <th>
            Classe
        </th>
        <th>
            Prazo de guarda
        </th>
        <th>
            Localização
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.NumeroDoProcessoOuDossie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Assunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Destinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Interessado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Procedencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.QuantidadeDeFolhas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.NumeracaoSequencialDosDocumentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.DataDeProducao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Classe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.PrazoDeGuarda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersaoAtual.Localizacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.Id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
